* {
  margin: 0px;
  padding: 0px;
  font-family: 'Noto Sans', sans-serif;
  color: white;
  stroke: white !important;
}

:root {
  --main-bg-color: #33333d;
  --secondary-bg-color: #27272f;
  --primary-color: #1eb980;
  --primary-darker-color: #045d56;
  --modal-overlay-color: rgba(255, 255, 255, 0.25);
}

body {
  background: var(--main-bg-color);
  color: white;
  stroke: white;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-v {
  display: flex;
  align-items: center;
}

.grow {
  flex-grow: 1;
}

.border-between-children > * {
  border-right: 1px solid white;
}

.border-between-children > *:last-of-type {
  border-right: none;
}

.v--modal {
  background: var(--main-bg-color);
  overflow: initial;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
}

.modal-title {
  background: var(--primary-color);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  padding: 0px 20px 20px 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.modal-footer > .button {
  flex-grow: 1;
  height: 50px;
}

.md-field > .md-icon ~ .md-input {
  margin-left: 5px !important;
}

.md-field > .md-icon ~ label {
  left: 28px;
}

.md-datepicker-dialog,
.md-select-menu {
  z-index: 1000 !important;
}

.md-select-menu > div > .md-list,
.md-datepicker-dialog,
.md-datepicker-dialog .md-datepicker-body-header::after,
.md-datepicker-dialog .md-datepicker-body-header::before,
.md-datepicker-dialog .md-datepicker-body-footer,
.md-tabs, .md-tab, .md-tabs-navigation {
  background: var(--main-bg-color) !important;
}

.md-datepicker-dialog .md-datepicker-header {
  background: var(--secondary-bg-color) !important;
}

.md-datepicker > i > svg > path:last-of-type,
.md-select > i > svg > path:last-of-type,
.md-datepicker > button.md-clear > div > div > i > svg > path:last-of-type,
.md-datepicker-body-header > button > div > div > i > svg > path:last-of-type {
  display: none;
}

.md-datepicker .md-icon {
  height: 15px !important;
  margin-top: 0px !important;
  align-self: center;
}
